//Navbar
a {
  text-decoration: none;
  color: #fff;
}

//Home
.home {
  margin-top: 60px;

  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__filters {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__container {
    display: grid;
    margin: 0 auto;
    width: 70%;
    grid-gap: 1rem;
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 998px) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

//Cart
.cart {
  margin-top: 60px;

  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__container {
    margin: 0 auto;
    width: 70%;

    & > div {
      margin-bottom: 50px;
    }
  }

  &__empty {
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }
}

//Recipe
.recipe {
  margin: 0 auto;
  width: 70%;
}

//Footer
.footer {
  min-height: 100px;
  background: #4791db;
  color: #fff;

  &__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }

  &__info {
    width: 80%;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
  }
}

//Thanks
.thank-you {
  padding-top: 80px;
  text-align: center;
}

//Detail
.detail {
  &__container {
    width: 70%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
  }

  &__img {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__info {
    max-width: 30%;
  }

  .radio-group {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  input[type="radio"] {
    position: absolute;
    display: hidden;
    visibility: hidden;
  }

  label {
    border-radius: 50%;
    padding: 10px;
    color: #000;
    background-color: #fff;
    border: 1px rgb(173, 173, 173) solid;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      border: 1px #000 solid;
    }
  }

  input[type="radio"]:checked + label {
    color: #fff;
    background-color: #000;
  }

  #size-error {
    position: relative;
    top: 20px;
    color: #f44336;
  }

  @media (max-width: 998px) {
    &__container {
      flex-direction: column;
    }

    &__info {
      max-width: 100%;
    }
  }
}

//Checkout
.checkout {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__form,
  &__info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__cart,
  &__summary {
    margin-bottom: 50px;
  }

  @media (max-width: 998px) {
    &__container {
      flex-direction: column;
    }

    &__form,
    &__info {
      max-width: 100%;
    }
  }
}
